

.circle{
	float: center-middle;
    position:relative;
    background:#666;
    width:50px;
    height:50px;
    text-align:center;    
    -webkit-border-radius: 50px;  
    -moz-border-radius: 50px;  
    border-radius: 50px;
}
